@using XCode.RuningCode.Service.Dto.Blog
@model List<ArticleDto>
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<section class="container" style="margin-top: 80px">
    @Html.Partial("_ArticleList", Model)
    <aside class="sidebar">
        @Html.Action("AuthorInfo", "Blog")
        @Html.Action("TagList", "Blog")
        @Html.Action("HotArticle", "Blog")
        @Html.Action("FriendLinkList", "Blog")
    </aside>
</section>
