@using System.Text
@using System.Web.Optimization
@using XCode.RuningCode.Service.Dto.Blog
@model ArticleDto
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout_XCode.cshtml";
    List<CategoryDto> parentCategory = ViewBag.ParentCategory;
}
@section StylesBefore{
    @Styles.Render("~/Template/Admin/jucheap/Css/SelectStyle")
}
@section Scripts{
    @Scripts.Render("~/JS/Admin/jucheap/Select")
    <script>
        $("#submitForm").validate({
            submitHandler: jucheap.buttonLoading,
            rules: {
                Name: {
                    required: true,
                    minlength: 2,
                    maxlength: 20
                }
            },
            messages: {
                Name: {
                    required: "请输入菜单名称",
                    minlength: "最小长度为2个字符",
                    maxlength: "最大长度为20个字符"
                }
            }
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                添加文章
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal tasi-form" id="submitForm" method="POST" action="@Request.Url.PathAndQuery" novalidate="novalidate">
                        @Html.HiddenFor(item => item.Category, new { @class = "form-control" })
                        <div class="form-group ">
                            @Html.LabelFor(item => item.Category, new { @class = "control-label col-lg-2" })
                            <div class="col-lg-10">
                                <select class="form-control select2" id="item.Category" name="item.Category">
                                    <option value=""></option>
                                    @if (parentCategory != null && parentCategory.Any())
                                    {
                                        var sb = new StringBuilder();
                                        sb.Append("<optgroup label=\"分类\">");
                                        foreach (var m in parentCategory)
                                        {

                                            sb.AppendFormat("<option value=\"{0}\">{1}</option>", m.Id, m.Name);
                                            if (m.Childrens.Count > 0)
                                            {
                                                sb.Append("<optgroup label=\"子分类\">");
                                                foreach (var category_dto in m.Childrens)
                                                {
                                                    sb.AppendFormat("<option value=\"{0}\">{1}</option>", m.Id, m.Name);
                                                }
                                                sb.Append("</optgroup>");
                                            }
                                        }
                                        sb.Append("</optgroup>");

                                        @(new MvcHtmlString(sb.ToString()))
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(item => item.Title, new { @class = "control-label col-lg-2" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(item => item.Title, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(item => item.Content, new { @class = "control-label col-lg-2" })
                            <div class="col-lg-10">
                                @Html.TextAreaFor(item => item.Content, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(item => item.MetaKeywords, new { @class = "control-label col-lg-2" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(item => item.MetaKeywords, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(item => item.MetaDescription, new { @class = "control-label col-lg-2" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(item => item.MetaDescription, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(item => item.AllowComment, new { @class = "control-label col-lg-2" })
                            <div class="col-lg-10">
                                @Html.CheckBoxFor(item => item.AllowComment, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-success" type="submit">保存</button>
                                <button class="btn btn-default" type="button" onclick="jucheap.goback(this)">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
